body{
  background: #999999;
}
#main{
  min-height: 100%;
}
.flex {
        display: flex;
        flex-direction: row;
    }
.border{
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
header{
  background-color: #00BFFF;
  display: block;
  min-height: 100px;
}
article{
  background-color: #FFD700;
  flex: 3 1 60%;
  order: 2;
}
aside{
  background-color: #CD5C5C;
  flex: 1 6 20%;
  order: 3;
}
nav{
  background-color: #90EE90;
  flex: 1 6 20%;
  order: 1;
}
footer{
  background-color: #7B68EE;
  display: block;
  min-height: 100px;
}
span{
  color: red;
}

@media all and (max-width: 640px) {
  .flex{
    flex-direction: column;
  }
  nav, aside, article{
    order: 0;
  }

}
